In [7]:
import pandas as pd
import requests
import json
from io import BytesIO
import numpy as np

# Task 1
## Read data from Google Sheets using the following link: [Google Sheets CSV](https://docs.google.com/spreadsheets/d/1e3PRXmMNXo9AZZnaol1aHgYxtH6KYaCDymEQlK6jaO8/export?format=csv) with the `requests` library. Calculate the percentage of male visitors among all site visitors and round the result to the nearest whole number.

In [8]:
link = 'https://docs.google.com/spreadsheets/d/1e3PRXmMNXo9AZZnaol1aHgYxtH6KYaCDymEQlK6jaO8/export?format=csv'
req = requests.get(link)
data = req.content

df = pd.read_csv(BytesIO(data))
df

         date         gender  users
0  2020-06-14  Not specified    150
1  2020-06-14           male    117
2  2020-06-14         female     21

In [9]:
df['percent'] = ((df.users / df.users.sum()) * 100).round()
df

         date         gender  users  percent
0  2020-06-14  Not specified    150     52.0
1  2020-06-14           male    117     41.0
2  2020-06-14         female     21      7.0

# Answear: 41%

# Task 2
## Download the website traffic data file from Yandex.Metrica (stored in the variable `df`). Using the `np.where` function, create a series where the value is 1 if the visits were made by robots using a browser containing "Chrome" in its name, and 0 otherwise. Store the resulting series in the variable `chrome_robots`.

In [10]:
# Loading website traffic data from the file
step3 = pd.read_csv('D:/курс_архив/my_files/lesson_7/7_browser.csv')
step3 # Displaying the loaded data for review

          date           browser user_type  users
0   2020-06-14     Google Chrome    People    139
1   2020-06-14     Chrome Mobile    People     35
2   2020-06-14     Google Chrome    Robots     28
3   2020-06-14    Yandex Browser    People     22
4   2020-06-14           Firefox    People     15
5   2020-06-14            Safari    People     13
6   2020-06-14           Firefox    Robots      8
7   2020-06-14   Android Browser    People      8
8   2020-06-14             Opera    People      5
9   2020-06-14     Mobile Safari    People      5
10  2020-06-14  Samsung Internet    People      5
11  2020-06-14            Safari    Robots      2
12  2020-06-14             UCWEB    Robots      2
13  2020-06-14              Edge    Robots      2
14  2020-06-14             Opera    Robots      1
15  2020-06-14             UCWEB    People      1
16  2020-06-14    Firefox Mobile    People      1
17  2020-06-14    Yandex Browser    Robots      1
18  2020-06-14   Android Browser    Robots      1
19  2020-06-14     Chrome Mobile    Robots      1
20  2020-06-14          Chromium    People      1
21  2020-06-14          Chromium    Robots      1
22  2020-06-14              Edge    People      1
23  2020-06-14            CocCoc    People      1

In [11]:
# Using the `np.where` function to create a series that identifies robot visits through Chrome
# Logic: If the user type is "Robots" and the browser contains "Chrome," assign 1; otherwise, assign 0
chrome_robots = pd.Series(np.where((step3.user_type == "Robots") & (step3.browser.str.contains("Chrome")), 1, 0))
chrome_robots # Displaying the resulting series with indicators

0     0
1     0
2     1
3     0
4     0
5     0
6     0
7     0
8     0
9     0
10    0
11    0
12    0
13    0
14    0
15    0
16    0
17    0
18    0
19    1
20    0
21    0
22    0
23    0
dtype: int64

# Task 3
## You have a dataset containing click and impression data for ads, which includes missing values. Calculate the number of rows without missing values in the column `click_type`. Store the result in the variable `not_nan_count`.

In [12]:
# Load the dataset with click and impression data
sample_ads_data = pd.read_csv('D:/курс_архив/my_files/lesson_7/sample_ads.csv')

In [13]:
# Preview the loaded data
sample_ads_data

    ad_id user_id click_type
0   12345   qwert        top
1   12345   fsssc     center
2   12345   vfvgg        NaN
3   12345   asrvv        NaN
4   12345   tynuy        top
5   12345   vreio        NaN
6   12345   oirbv        top
7   12345   kjvbe        NaN
8   12345   vkrej     center
9   12345   krjvb        top
10  12345   vrejn        top
11  12345   vrejk     center
12  12345   pirbv        NaN
13  12345    mpev        NaN
14  12345  pi3bvk        top
15  12345  osbvor     center
16  12345   vrbuo        NaN
17  12345   o3b0v        top

In [14]:
# Count the number of rows without missing values in the `click_type` column
# The `notna()` method returns True for non-missing values, then `sum()` counts these rows.
not_nan_count = sample_ads_data.click_type.notna().sum()
not_nan_count

np.int64(11)

# Answer: The number of rows without missing values in the `click_type` column = 11